body {
	margin: 0 0 0;
	background-color: #fff;
	color: #000;
	font-size: 12px;
	font-family: Tahoma, "宋体";
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

input {
	font-size: 12px;
	font-family: Tahoma;
	line-height: 18px;
	padding: 0;
	margin: 0;
	color: #333;
	outline: none;
}


/*header*/
.header {
	height: 66px;
	background-position: 0 0;
	background: url(../img/bg.png) repeat-x;
}

.header-bd {
	width: 1000px;
	height: 66px;
	margin: 0 auto;
	position: relative;
	z-index: 2000;
}

.logo {
	float: left;
	width: 411px;
	height: 50px;
	margin: 0;
	background: url(../img/logo.png) 12px 8px no-repeat;
	padding: 8px 0 0 12px;
	text-indent: -9999px;
}

.login-info {
	height: 30px;
	line-height: 30px;
	float: right;
	padding-right: 5px;
	margin-bottom: 2px;
}

.login-info .phone-link {
	background: url(../img/icon_phone.png) left center no-repeat;
	padding-left: 15px;
	float: right;
	margin-left: 25px;
	cursor: pointer;
}

.login-info .phone-link a:hover {
	color: #FB7403;
}

.menu {
	float: right;
	width: 80px;
	height: 30px;
	margin-left: 35px;
	position: relative;
	z-index: 2999;
	text-align: left;
}

.menu .menu-bd {
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
}

.menu .menu-bd:hover {
	color: #FB7403;
}

.menu .menu-bd b {
	display: block;
	width: 10px;
	height: 5px;
	background: url(../img/icon8.png) 0 -35px no-repeat;
	overflow: hidden;
	position: absolute;
	top: 14px;
	right: 2px;
}

.menu .menu-list {
	width: 130px;
	padding: 5px 10px;
	border: 1px solid #298CCE;
	background: #EEF1F8;
	position: absolute;
	top: 30px;
	left: -2px;
	z-index: 2999;
	display: none;
}

.menu .menu-list b {
	display: block;
	width: 13px;
	height: 7px;
	overflow: hidden;
	background: url(../img/icon_arrow2.png) -1px 0 no-repeat;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -7px;
}

.menu .menu-list ul {
	margin: 0;
	padding: 0;
	border: 0;
}

.menu .menu-list li {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	padding-left: 5px;
}

.menu .menu-list .line {
	border-bottom: 1px dashed #999;
	height: 1px;
	line-height: 1px;
	margin: 5px 0;
	overflow: hidden;
}

.menu .menu-list li a {
	border-left: 3px solid #EEF1F8;
	padding-left: 5px;
}

.menu .menu-list li a:hover {
	color: #00A3D9;
	border-left: 3px solid #00A3D9;
}

.login-info .login-txt {
	color: #666666;
	float: right;
}

.colorA {
	color: #FB7403;
}

.login-info .login-txt #login_user {
	margin-left: -0.5px;
}

.login-info .login-txt #regist_out:hover {
	color: #FB7403;
}

.nav {
	width: 500px;
	height: 34px;
	padding: 0px 0 0 43px;
	background: url(../img/bg_nav.png) right top no-repeat;
	float: right;
	position: relative;
}

.nav ul {
	margin: 0;
	padding: 0;
	border: 0;
}

.nav li {
	float: left;
	width: 70px;
	height: 30px;
	text-align: center;
	margin-right: 10px;
	margin-top: 4px;
	cursor: pointer;
}

.nav li a:hover {
	color: #478DCD;
	background: url(../img/bg_nav01.png) no-repeat;
}

.nav li a {
	display: block;
	height: 28px;
	line-height: 28px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.nav li .current {
	background: url(../img/bg_nav01.png) no-repeat;
	color: #478DCD;
	font-weight: 700;
}

.nav li .nav-list {
	width: 980px;
	height: 32px;
	padding: 0px 10px;
	background: url(../img/bg_navlist.png) repeat-x;
	border-bottom: 1px solid #999;
	position: absolute;
	top: 34px;
	right: 0;
	z-index: 2899;
	display: none;
	box-shadow: 2px 2px 5px #666;
}

.nav .nav-list ul {
	font-weight: normal;
}

.nav .nav-list ul li {
	height: 16px;
	line-height: 16px;
	padding: 8px 0;
	overflow: hidden;
	width: auto;
	text-align: left;
	float: right;
	margin-left: 30px;
	margin-top: 0;
	background: none;
}

.nav .nav-list ul li a {
	display: inline;
	padding-left: 5px;
	color: #666;
	height: 16px;
	line-height: 16px;
	font-weight: 400;
	background: none;
}

.nav .nav-list ul li a:hover {
	color: #478DCD;
	border-left: 2px solid #478DCD;
	padding-left: 3px;
	font-weight: 400;
}



/*公告*/
.ban-area {
	width: 1000px;
	height: 30px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

.notice {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 10;
	width: 938px;
	height: 22px;
	padding: 0 20px;
	margin-top: 6px;
	line-height: 22px;
	background: #FFFBE5;
	border: 1px solid #FBD800;
	color: #FF2626;
}

.notice strong {
	width: 60px;
	float: left;
}

.notice .notice-in {
	margin-left: 40px;
	height: 22px;
	overflow: hidden;
	position: relative;
}

.notice .notice-in ul {
	margin: 0;
	padding: 0;
	border: 0;
}

.notice .notice-in li {
	color: #FB7403;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
}

.i-close {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icon.png) 0 -350px no-repeat;
	cursor: pointer;
}

.notice .i-close {
	position: absolute;
	top: 2px;
	right: 10px;
}


/*页面主体*/
.content {
	width: 980px;
	min-height: 579px;
	margin: 0 auto;
	padding-top: 10px;
	display: block;
}

.content .index-side {
	width: 350px;
	float: left;
}

.layout {
	border: 1px solid #1678BE;
	background: url(../img/bg.png) repeat-x;
	-webkit-border-radius: 5px 5px 0 0;
	background-position: 0 -400px;
}

/*车票查询框*/
.booking {
	width: 348px;
	margin-bottom: 5px;
}

.layout .lay-hd {
	height: 32px;
	line-height: 30px;
	color: #E5F8FF;
	padding-left: 20px;
	font-size: 14px;
	position: relative;
}

.layout .lay-bd {
	background: #EEF1F8;
	border-top: none;
}

.booking-in {
	width: 308px;
	margin: 0 auto;
	padding-bottom: 3px;
}

.booking-in .booking-hd {
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #5fb0dc;
	padding: 5px 0 5px 18px;
}
.booking-hd span {
	margin-right: 40px;
}

.booking-hd span .radio {
	cursor: pointer;
}

.booking-in .booking-bd {
	position: relative;
	display: inline-block;
}

.booking-bd ul {
	display: inline-block;
	margin: 2px 0 0 0;
	padding: 0;
}

.booking-bd li {
	height: 30px;
	line-height: 30px;
	float: left;
	white-space: nowrap;
	padding: 2px 0;
}

.booking-bd li.mt10 {
	margin-top: 10px;
}

.booking-bd li.OriOrStu {
	padding-left: 80px;
}

.OriOrStu .origin {
	margin-right: 50px;
	float: left;
}

.OriOrStu .student {
	margin-right: 20px;
	float: left;
}

.booking-bd .label {
	display: block;
	padding-right: 25px;
	width: 60px;
	text-align: right;
	float: left;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}

.booking-bd li .inp-w {
	position: relative;
	width: 200px;
	height: 30px;
	float: left;
}

.booking-bd li .inp-w span {
	cursor: pointer;
}

.booking li .inp-txt {
	width: 193px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #CFCDC7;
	background: #fff;
	padding: 5px 0 5px 5px;
	color: #999;
	position: relative;
}

.booking li .i-city {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url(../img/icon.png) no-repeat;
	background-position: 0 -150px;
	overflow: hidden;
}

.booking li .i-date {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url(../img/icon.png) no-repeat;
	background-position: 0 -250px;
	overflow: hidden;
}

.i-change {
	display: block;
	width: 23px;
	height: 46px;
	background: url(../img/bg02.png) repeat-x;
	background-position: -60px -80px;
	cursor: pointer;
}

.booking-bd .i-change {
	position: absolute;
	top: 12px;
	right: 0;
}

.booking-bd .tc {
	text-align: center;
	cursor: pointer;
}

.tc .btn-login {
	display: block;
	width: 225px;
	height: 30px;
	line-height: 30px;
	margin: 5px auto;
	font-size: 16px;
	border-radius: 4px;
	background: url(../img/bg_btn.png) repeat-x;
	background-position: 0 0px;
	color: #fff;
	font-weight: 700;
}


/*出行向导*/
.guide {
	width: 348px;
	float: left;
}

.guide .lay-bd {
	width: 348px;
	height: 90px;
	overflow: hidden;
	padding-top: 5px;
}

.guide ul {
	overflow: hidden;
	zoom: 1;
	margin: 0;
	padding: 0;
	border: 0;
}

.guide li {
	width: 69px;
	margin: 0;
	padding-top: 5px;
	float: left;
	text-align: center;
	cursor: pointer;
}

.guide li a {
	color: #666;
}

.guide li a:hover {
	color: #000;
}

.guide li .img {
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 5px;
	background: url(../img/icon_guide.png) no-repeat;
}

.guide li .czcx {
	background-position: 0 0;
}

.guide li .zzcx {
	background-position: 0 -60px;
}

.guide li .pjcx {
	background-position: 0 -120px;
}

.guide li .zwdcx {
	background-position: 0 -180px;
}

.guide li .kpdsd {
	background-position: 0 -240px;
}



/*新闻选项卡*/
.slideTxt {
	position: relative;
	width: 618px;
	height: 422px;
	overflow: hidden;
	border: 1px solid #1678be;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background: url(../img/bg.png) repeat-x;
	background-position: 0 -400px;
	float: right;
}

.slideTxt .hd {
	height: 30px;
	line-height: 30px;
	position: relative;
	overflow: hidden;
}

.slideTxt .hd ul {
	float: left;
	height: 32px;
	margin: 0;
	padding: 0;
}

.slideTxt .hd ul li {
	float: left;
	width: 92px;
	padding: 0 6px 0 4px;
	text-align: center;
	background: url(../img/bg_line.png) right center no-repeat;
	cursor: pointer;
	color: #fff;
}

.slideTxt .hd ul li.on {
	height: 30px;
}

.slideTxt .hd ul li.end {
	background: 0;
}

.slideTxt .hd ul li span {
	display: block;
	width: 92px;
	height: 24px;
	line-height: 24px;
	margin-top: 6px;
	font-size: 14px;
}

.slideTxt .hd ul li.on span {
	background: #66c8e8;
	-webkit-border-radius: 5px 5px 0 0;
}

.slideTxt .bd .item-txt {
	display: none;
	margin: 0;
	padding: 0;
}

.slideTxt .bd {
	margin: 0;
	padding: 0;
}

.slideTxt .bd .item-txt li {
	height: 22px;
	border-bottom: 1px dashed #d9d9d9;
	padding: 8px 0 8px 10px;
	overflow: hidden;
	zoom: 1;
	float: left;
	width: 608px;
}

.slideTxt .bd #bd_item1 {
	display: block;
}

.slideTxt .bd .item-txt li.spaItem {
	background: #eef1f8;
}

.slideTxt .num {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 2px 10px 0 0;
	line-height: 16px;
	color: #fff;
	font-family: Tahoma;
	text-align: center;
	background: url(../img/icon.png) no-repeat;
	background-position: 0 0;
}

.slideTxt .bd .info {
	float: left;
	width: 470px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.slideTxt .bd .item-txt li a {
	font-size: 14px;
	color: #333;
	margin-right: 5px;
}

.slideTxt .bd .time {
	float: right;
	height: 22px;
	line-height: 22px;
	padding-right: 10px;
}

.slideTxt .bd li .more a {
	color: #0077FF;
}


/*页面底部*/
.footer {
	height: 60px;
	line-height: 20px;
	padding: 20px 0;
	border-top: 2px solid #468DCD;
	background: #F6F6F6;
	margin-top: 10px;
	text-align: center;
	color: #999;
}

.footer a {
	color: #999;
	margin: 0 5px;
}



















